.place__box {
    background-color: #EEEEEE;
    border-radius: 5px;
}

.places_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.place_board_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.place_board_header p:first-child {
    color: #8B9A96;
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0 0 15px;
}

.place_board_header p:last-child {
    color: #8B9A96;
    font-size: 15px;
    margin: 0 0 10px 15px;
}

.place_board_header div {
    margin-right: 20px;
}

.place_board_header img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.spin {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.empty-category {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
