.place__container{
    width: 300px;
    border: 1px solid var(--cor-words-principal);
    margin: 10px;
    border-radius: var(--radius-default);
    overflow: hidden;
    background-color: var(--cor-bg-content-1);
}

.place__header{
    background: var(--cor-bg-header-1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-words-principal);
}

.place__img{
    max-width: 100%;
}
.place__counter{
    display: flex;
    justify-content: space-around;
    height: 0px;
    position: relative;
    top: 40px;
    color: var(--cor-words-principal);
}

.place__counter p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place__counter p span{
    border-radius: 100%;
    width: 50px;
    min-height: 50px;
    justify-content: center;
    display: flex;
    align-items: inherit;
    background-color: var(--cor-bg-content-1);
    color: black;
}

.place__status{
    height: var(--line-heigth-content);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-words-principal);
    background-color: var(--cor-crowded);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
}

.place__manager{
    background: var(--cor-bg-header-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--line-heigth-default);
    color: var(--cor-words-principal);
}

.place__manager button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: none;
    border: 2px solid var(--cor-words-principal);
    color: var(--cor-words-principal);
    font-weight: bold;
}

.status--crowded{
    background-color: var(--status--crowded);
}
.status--crowded::before{
    content: "Crowded";
}

.status--almost-full{
    background-color: var(--status--almost-full);
}   
.status--almost-full::before{
    content: "Almost Full";
}

.status--safe{
    background-color: var(--status--safe);
    content: "Safe";
}
.status--safe::before{
    content: "Safe";
}