.exit__container {
    padding: 20px;
    border-radius: 2px;
    background-color: #b2e4e8;
}

.table {
    background: var(--cor-bg-content-1);
    border-radius: 10px;
}

.table thead th {
    border: none;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.exit__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: red;
}

.exit-board {
    color: white;
    background-color: #1a7fa7;
    background: var(--cor-bg-header-1);
    font-weight: 500;
    padding: 5px;
}

.exit-board > p {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
}

.exit-board > div {
    min-height: 200px;
    max-height: 200px;
}

.exit-board td {
    cursor: pointer;
    padding: 5px;
}

.exit-board td > div {
    border-radius: 5px;
    background-color: rgb(242, 252, 253);
}

.exit-board td > div > span {
    padding: 5px;
    font-size: 16px;
}

.exit__box__logs {
    height: 100%;
    background-color: white;
    border: 3px solid var(--cor-bg-header-1);
}

.logs__box > p {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: var(--cor-bg-header-1);
    text-align: center;
}

.tb__log {
    padding: 10px;
    background: var(--cor-bg-content-4);
    border-radius: 0;
    text-align: center;
    height: 156px;
}

.tb__log table {
    background: var(--cor-bg-content-4);
}

.release-btn {
    padding: 5px;
    background-color: var(--cor-bg-header-1);
    border-top: 2px solid var(--cor-bg-header-1);
    display: flex;
    justify-content: center;
}

.release-btn > button {
    color: #FFFFFF;
    margin: 5px;
    padding: 0 30px;
    border-radius: 5px;
    border: 1px solid #008e78;
    background-color: #4cb0c3;
}

.not-selected {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: var(--cor-bg-header-1);
    text-align: center;
}

@media screen and (max-width: 815px) {
    .exit__box {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }
}
