.description {
    color: #00473C;
    margin-left: 5px;
    font-weight: 600;
}

.submitButton {
    background-color: #008e78;
    color: #FFFFFF;
    font-weight: 600;
}

.mr-54 {
    margin-right: 54px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
