.home__container{
    background: var(--cor-words-2);
    border-radius: 10px;
    padding: 20px;
    color: var(--cor-words-principal);
    max-width: 1000px;
    margin: auto;
}

.home__board{
    width: 100%;
    height: 300px;
    background: var(--cor-bg-header-3);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px;
}

.home__board:first-child{
    height: calc(100vh - 100px);
    background: var(--cor-bg-header-2);
}

.home__board h1+p{
    max-width: 600px;
    margin-top: 50px;
    font-family: var(--font-1);
    font-size: 23px;
}

.home__board img + p{
    font-size: 30px;
    padding: 10px;
    font-family: var(--font-1);
}

.home__board + .home__two{
    flex-direction: row-reverse;
}

.home__board-1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home__cadastrar{
    display: flex;
    justify-content: center;
    background: var(--cor-bg-header-3);
}

.home__cadastrar button{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    width: 200px;
    background: var(--cor-bg-header-4);
    color: var(--cor-words-principal);
    font-weight: bold;
    font-family: var(--font-1);
    font-size: 20px;
}

.home__cadastrar button:hover{
    background: var(--cor-bg-header-2);
}
