.new-school-container.new-school-form {
    max-width: 350px !important;
    padding: 40px 40px;
}
.new-school-form {
    background-color: #91ffdb;
    padding: 20px 25px 30px;
    margin: 50px auto 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.new-school-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.new-school-form-label {
    color: #00473C;
    margin-left: 5px;
    font-weight: 600;
    display: block;
    margin-top: 1px;
}
.new-school-submit-button {
    background-color: #00BFA6;
    color: #FFF;
}



.boards-admin {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
}
.boards-admin-header {
    width: 100%;
    height: 35px;
    display: flex;
    color: #FFF;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #00BFA6;
}
.boards-admin-header span {
    display: flex;
}
.cards-admin {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
    min-height: 250px;
    max-height: 250px;
    background-color: #ecf0f1;
}
.row-board {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fontsize-13 {
    font-size: 13px;
}
.margin-left-16 {
    margin-left: 16px;
}
.boards-admin-icon {
    width: 16px;
    height: 16px;
}
.message-alert {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-alert:first-child {
    padding: 0 2px;
    width: calc(100% - 30px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.message-alert:last-child {
    width: 30px;
    cursor: pointer;
    font-weight: bold;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.table th, .table td {
    vertical-align: middle;
}
